.upper-block {
  margin-bottom: 5px;

  @media(max-width: @mobile-only-width) {
    grid-template-columns: 1fr;
  }
}

.upper-block__title {
  text-align: center;
}

.upper-block__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    color: inherit;
  }
}

.upper-block div {
  height: 100%;
}
