@basic-black: #000;
@basic-grey: rgba(68, 68, 68, 1);
@basic-red: lightcoral;
@basic-blue: lightcyan;
@basic-orange: lightsalmon;
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width: 320px;
@mobile-only-width: 767px;
